html{
    scroll-behavior: smooth;
}
body{
    background-color: #EBF4F5;
    color: #365259;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
main {
    min-height: 100%;
}
h1, .indextop h2 {
    font-size: 28pt;
    font-weight:700;
    width: 100%;
    text-align: center;
}
.indextop {
    display: flex;
    flex-direction: column;
}
p {
    margin-left: 1%;
}
.title {
    text-align: center;
}
nav img{
    height: 50px;
    
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 3px solid #CADBDD;
}

.dropbtn img{
    width: 50px;
    height: 50px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #EBF4F5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(103,150,163,0.2);
    z-index: 1;
}
.dropdowncontent a{
    color: #6796A3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New';
    border-bottom: 1px solid #6796A3;
}
.dropdowncontent a:first-child{
    border-top: 1px solid #6796A3;
}
.dropdowncontent a:hover{
    background-color:  #bcdbe4;
}
.dropdown:hover .dropdowncontent{
    display: block;
}
.parallax h1 {
    font-size: 70pt;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
#learnmore {
    display: inline-block;
    background-color: #3B5E63;
    font-size: 15px;
    border-radius: 16px;
    border: 2px solid white;
    padding: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    max-width: 125px;
}
.learnmorebutton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}
.parallax a {
    margin-right: 0px;
    text-decoration: none;
    margin-bottom: 100px;
}
.menuitems {
    width: 155px;
    height: auto;
    margin-bottom: 2%;
    opacity: .5;
}
.menuitems:hover {
    opacity: 1;
}
.menu-sections {
    font-size: 30px;
    grid-column: 1 / span 3;
    margin-bottom: 2%;
    font-weight: 500;
}
.grid div {
    display: inline-block;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-left: 2%;
    justify-items: center; 
}
.menuparas {
    margin-bottom: 2%;
}
#currentpage {
    text-decoration: underline;
    background-color: #d1e7ee
}
.maincontent {
    margin-top: 2%;
}

.locationgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin-right: 16px;
    margin-left: 16px;
}
.locationgrid p {
    margin-bottom: 2%;
}
.locationimg {
    grid-column: 1 / span 2;
    margin-bottom: 2%;
}
footer {
    position: absolute;
    width: 100%;
    height: 30px;
}
  a.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip:focus, a.skip:active {
    color: black;
    background-color:#fff;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid black;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.navbar {
    display: none;
    visibility: hidden;
}
form {
    margin-left: 2%;
}
.company {
    margin-left: 2%;
    margin-right: 2%;
}

.homecenter {
    margin-left: 2%;
    margin-right: 2%;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:focus .flip-card-inner, .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card {
      margin-bottom: 320px;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #EBF4F5;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #EBF4F5;
    color: #365259;
    transform: rotateY(180deg);
  }
  .flip-card h2 {
      font-weight: bold;
  }
  fieldset {
      margin-left: 2%;
  }
  fieldset input {
      margin-bottom: 1%;
  }
  * fieldset {
      text-align: center;
  }
  fieldset legend {
    font-weight: bold;
    font-size: 24pt;
}
.companyfooter {
    margin-top: 200px;
}

@media screen and (min-width: 800px){
    .parallax{
        background-image: url('../imgs/parallax.jpg'); /* source: https://wallpapersmug.com/w/wallpaper/yummy-food-macaron-box-18238a21461 */
        background-color: #EBF4F5;
        
        /* parallax effect */
        min-height: 500px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .dropbtn, .dropdown, nav h1 {
        display: none;
    }
    .navbar {
        visibility: visible;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        
    }
    .navbar a {
        text-decoration: none;
        font-size: 25px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: #365259;
        padding: 2px;
    }
    .navbar a:focus, .navbar a:hover {
        text-decoration: underline;
        text-transform: uppercase;
    }
    .menu-sections {
        font-size: 30px;
        grid-column: 1 / span 4;
        margin-bottom: 2%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .currpage {
        border: solid 1px #365259;
        border-radius: 8px;
        font-weight: 700;
    }
    .locationgrid {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "a b"
            "c b"
            "d e"
            "f e"
            "g h"
            "i h";
    }
    .locationgrid p {
        margin-top: auto;
        margin-bottom: auto;
    }
    .a {
        grid-area: a;
    }
    .b {
        grid-area: b;
    }
    .c {
        grid-area: c;
    }
    .d {
        grid-area: d;
    }
    .e {
        grid-area: e;
    }
    .f {
        grid-area: f;
    }
    .g {
        grid-area: g;
    }
    .h {
        grid-area: h;
    }
    .i {
        grid-area: i;
    }
    .company {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2%;
        row-gap: 2%;
    }
    .flip-card {
        margin-bottom: 280px;
    }
    .companyfooter {
        margin-top: 50px;
    }
}
@media screen and (min-width: 1025px){
    h1.title, .learnmorebutton{
        display: inline;
        text-align: center;
    }
    .indextop {
        flex-direction: row;
        justify-content: space-around;
        margin-right: 5%;
        align-items:baseline;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .menu-sections {
        grid-column: 1 / span 5;
    }
    .company {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
    }
    .locationgrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "a b d e g h"
            "c b f e i h";
        column-gap: 5px;
    }
    .locationtitle {
        font-weight: bold;
    }
    .locationgrid img {
        transition: transform .2s;
    }
    .locationgrid img:hover {
        transform: scale(1.5);
    }
    fieldset legend, .locationgrid {
        margin-bottom: 1%;
    }
    .flip-card {
        margin-bottom: 0;
    }


}
@media (prefers-reduced-motion) {
    .locationgrid img {
        transition: transform 0s;
    }
    .parallax {
        background-attachment: scroll;
    }
    .flip-card-inner {
        transition: transform 0s;
    }
}